# Disable the spring security default configuration from spring-boot-actuator
management.security.enabled: true
security.basic.enabled: false

# Disable Jolokia - An http/json bridge for remote JMX access
endpoints.jolokia.enabled: false

# security configuration (this key should be unique for your application, and kept secret)
jhipster.security.rememberme.key: b9759c76cf5cbc6009bafeea7c4ec41e2b0778e8

async:
    corePoolSize: 2
    maxPoolSize: 50
    queueCapacity: 10000

mail:
    host: localhost
    port: 25
    username:
    password:
    protocol: smtp
    tls: false
    auth: false
    from: jhip3@localhost

authentication:
    oauth:
        clientid: jhip3app
        secret: mySecretOAuthSecret
        # Token is valid 10hrs -- really should be like 30min, but setting long for development
        tokenValidityInSeconds: 36000

spring:
    mvc:
        favicon:
            enabled: false

swagger:
    title: jhip3 API
    description: jhip3 applications and beyond!
    version: 0.0.1
    termsOfServiceUrl: http://jhipster.github.io/
    contact:
    license: Apache 2.0
    licenseUrl: http://www.apache.org/licenses/LICENSE-2.0.html
